<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>695624323493-f186jipmjdrm9f62biul9bdspd6sbfd4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.695624323493-f186jipmjdrm9f62biul9bdspd6sbfd4</string>
	<key>API_KEY</key>
	<string>AIzaSyD4Gdz-FIm6RIHGoEs4w1WUU0zEqt5yxKU</string>
	<key>GCM_SENDER_ID</key>
	<string>695624323493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>apple.Local-Brands</string>
	<key>PROJECT_ID</key>
	<string>local-brand</string>
	<key>STORAGE_BUCKET</key>
	<string>local-brand.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:695624323493:ios:28f3998b2596277f98184c</string>
</dict>
</plist>